<!DOCTYPE html>
<html lang="es">
<head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"></link> -->
            <script src="https://kit.fontawesome.com/fa3a2d0319.js" crossorigin="anonymous"></script>
             <link href="estilos.css" rel="stylesheet"></link>
             <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
             <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
             
            <title>Mercado Liebre</title>

</head>

<body>

<header class="main-Header">

    <div class="main-header-top-bar">
    <a href="index.html" ><img class="logo" src="/img/logo-mercado-liebre.svg"> </img></a>
    <input  class="buscador" placeholder="Buscar productos, marcas "></input><i class="fa fa-search" id="lupita"></i>  
    <h2 class="copy-header" > <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</h2>
    </div>

    <a href="#" class="hamburguer-button">
        <i class="fa-solid fa-bars"></i>
    </a>

    <nav class="main-navbar">
        <ul class="left-navbar">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li> 
            <li><a href="#">Ayuda</a></li>
                 
        </ul>
        <ul class="right-navbar">
            <li><a href="register.html">Creá tu cuenta <i class="far fa-id-card"></i></a></li> 
            <li><a href="login.html">Ingresá <i class="fas fa-sign-in-alt"></i></a></li> 
            <li><a href="#">Mis Compras <i class="fas fa-shopping-basket"></i></a></li>
        </ul>
    </nav>


    
   
</header>
<img class="banner" src="/img/img-home-banner.jpg"> </img>
<br>
<br>
    <div class="main">
    <div>
        

        <div class="cajaVisita">
        <h3 class="Visita">Basado en tu última visita </h3>
        <img src="/img/img-macbook-pro-2019.jpg" width="250px" height="250px"></img>
        <i class="camioncito1 fa-solid fa-truck verde"></i>
        <div class="precioydescuento">
        <p class="precio" >$230.000</p>
        <p class="descuento verde">20% off</p>
        </div>
        <p class="descripcion">MacBook Pro 2019</p>
        </div>
    </div>       

    <div class="cajaOfertas">
       <h3 class="Ofertas"> Sección de Ofertas </h3>
       <img width="250px" height="250px" src="/img/img-samsung-galaxy-s10.jpg" ></img>
        <i class="camioncito2 fa-solid fa-truck verde"></i>
        <div class="precioydescuento2">
       <p class="precio2"> $70.500 </p> 
       <p class="descuento2 verde"> 10% off </p>
    </div>
       <p class="descripcion2" > Samsung Galaxy S10 </p> 
    </div>


    <div class="cajaVisita2">
        <h3 class="Visita">Basado en tu última visita </h3>
        <img src="/img/img-tv-samsung-smart.jpg" width="250px" height="250px"></img>
        <i class="camioncito1 fa-solid fa-truck verde"></i>
        <div class="precioydescuento">
        <p class="precio" >$23.200</p>
        <p class="descuento verde">5% off</p>
        </div>
        <p class="descripcion3">Samsung 43'</p>
        </div>

        <div class="cajaVisita3">
            <h3 class="Visita">Sección de Ofertas </h3>
            <img src="/img/img-cafetera-moulinex.jpg" width="250px" height="250px"></img>
            <i class="camioncito1 fa-solid fa-truck verde"></i>
            <div class="precioydescuento">
            <p class="precio" >$6.770</p>
            <p class="descuento verde">40% off</p>
            </div>
            <p class="descripcion4">Cafetera Moulinex</p>
        </div>
       
    </div>

    

        
     
    
</body>
<br>
<br>
<br>
<br>
<br>




<footer class="Pie" align="center">
     <div>
               
        <h3><i class="fa-solid fa-2x fa-credit-card celeste"></i> <br> Pagá con tarjeta o efectivo</h3>
        <p>
            Con MercadoLiebreCash tenés cuotas sin <br>
            interés con tarjeta o efectivo en puntos de <br> 
            pago. !Y siempre es seguro! 
        </p>
     </div>

     <br>

     <div>
        <h3><i class="fa-solid fa-2x fa-gift celeste"></i> <br> Envío gratis desde $2.500</h3>
        <p>
            Solo por estar registrado en Mercado Liebre <br>
            tenés envíos gratis en miles de productos. Es <br>
            un beneficio de Mercado Puntos.
        </p>
    </div>

 
    <div>
        <h3> <i class="fa-solid fa-2x fa-user-shield celeste"></i> <br> Seguridad, de principio a fin </h3>
        <p>  
            ¿No te gusta? ¡Devolvelo!  En MercadoLiebre <br>
            no hay nada que no puedas hacer porque estás <br>
            siempre protegid@.
        </p>
    </div>

    <br>

    
    

     
</footer>
<br>
<br>
<br>
<br>
<br>
<br>
<div align="left">
    Copyright © 1999-2020 MercadoLiebre S.R.L.
</div>
</html>