<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"></link> -->
        <script src="https://kit.fontawesome.com/fa3a2d0319.js" crossorigin="anonymous"></script>
         <link href="login.css" rel="stylesheet"></link>
         <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
         <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
         
        <title>Login</title>

</head>

<body>
    <header class="main-Header">

        <div class="main-header-top-bar">
        <a href="index.html" ><img class="logo" src="/img/logo-mercado-liebre.svg"> </img></a>
        <input  class="buscador" placeholder="Buscar productos, marcas "></input><i class="fa fa-search" id="lupita"></i>  
        <h2 class="copy-header" > <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</h2>
        </div>
    
        <a href="#" class="hamburguer-button">
            <i class="fa-solid fa-bars"></i>
        </a>
    
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li> 
                <li><a href="#">Ayuda</a></li>
                     
            </ul>
            <ul class="right-navbar">
                <li><a href="register.html">Creá tu cuenta <i class="far fa-id-card"></i></a></li> 
                <li><a href="login.html">Ingresá <i class="fas fa-sign-in-alt"></i></a></li> 
                <li><a href="#">Mis Compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
          
    </header>


    <div class="formulario" align="center">
    <form action="home.html" method="POST">
        <div class="form-box">
        <div class="usuario">
                    <input type="text" name="usuario" id="usuario" placeholder="Nombre de usuario" required> 
                    <span class="feedback"></span>
        </div>
        <div class="password">
                    <label for="password"></label>
                    <input type="password" name="password" id="password" placeholder="Contrtaseña" required>
         </div>
        <div>
                    <label></label>
                    <button class="boton" type="submit">Enviar</button>
         </div>
        </div>
        
        </form>
    </div>    

    
</body>

<footer class="Pie" align="center">
    <div>
              
       <h3><i class="fa-solid fa-2x fa-credit-card celeste"></i> <br> Pagá con tarjeta o efectivo</h3>
       <p>
           Con MercadoLiebreCash tenés cuotas sin <br>
           interés con tarjeta o efectivo en puntos de <br> 
           pago. !Y siempre es seguro! 
       </p>
    </div>

    <br>

    <div>
       <h3><i class="fa-solid fa-2x fa-gift celeste"></i> <br> Envío gratis desde $2.500</h3>
       <p>
           Solo por estar registrado en Mercado Liebre <br>
           tenés envíos gratis en miles de productos. Es <br>
           un beneficio de Mercado Puntos.
       </p>
   </div>


   <div>
       <h3> <i class="fa-solid fa-2x fa-user-shield celeste"></i> <br> Seguridad, de principio a fin </h3>
       <p>  
           ¿No te gusta? ¡Devolvelo!  En MercadoLiebre <br>
           no hay nada que no puedas hacer porque estás <br>
           siempre protegid@.
       </p>
   </div>

   <br>

   
   

    
</footer>
<br>
<br>
<br>
<br>
<br>
<br>
<div align="left">
   Copyright © 1999-2020 MercadoLiebre S.R.L.
</div>
</html>